.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    color: #fff;
    position: relative;
}

ul,
li {
    list-style: none;
}

.main .header {
    flex: 1 100%;
}

.main .qiu1 {
    position: absolute;
    width: 547px;
    height: 547px;
    top: 741px;
    left: -220px;
    gap: 0px;
    filter: blur(60px);
    opacity: .3;
    background: #00d88934;
    border-radius: 50%;
    z-index: 0;
}

.main .qiu2 {
    position: absolute;
    width: 710px;
    height: 710px;
    top: -143px;
    filter: blur(60px);
    right: 0px;
    gap: 0px;
    opacity: .3;
    background: #00d88934;
    border-radius: 50%;
    z-index: 0;
}

.main .ant-tabs-nav-wrap {
    white-space: normal !important;

}

.main .body {
    flex: 1 100%;
    /* background-color: transparent !important; */
    background-color: #000000;
}

.main .footer {
    flex: 1 100%;
    /* padding: 50px; */
    display: flex;
    padding-top: 26px;
    padding-bottom: 55px;
    justify-content: space-between;
    color: #FFFFFF6B;
    /* background-color: transparent !important; */
    background-color: #000000;
}

@media only screen and (min-width: 900px) {

    .main {
        flex-direction: column;
        align-items: stretch;
        /* 默认值 */
    }
}

.zkgamestop-link {
    color: #FFFFFF6B;
}

.zkgamestop-link:hover {
    color: #FFFFFF6B;
}

.ant-dropdown-menu span {
    color: #fff !important;
}

.ant-dropdown-menu {
    background-color: transparent !important;
    border: 1px solid #5c5c5c !important;
    color: #fff !important;
}